.yuan-carousel {
  // 定位左右箭头
  position: relative;
  overflow: hidden;

  .arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: aliceblue;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    background-color: rgba($color: gray, $alpha: .3);
    border-radius: 50%;
    display: none;
  }

  .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    right: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: aliceblue;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    background-color: rgba($color: gray, $alpha: .3);
    border-radius: 50%;
    display: none;
  }

  &:hover {
    .arrow-left, .arrow-right {
      display: block;
    }
  }
}

.container {
  // float: left;
  display: flex;
  position: relative;
}

.carousel-dots {
  display: flex;
  list-style: none;
  position: absolute;
  margin-bottom: 0px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);

  .carousel-dot {
    // display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba($color: gray, $alpha: .8);
    margin: 0 5px;

    &.is-actived {
      background-color: lighten($color: $cyan, $amount: 25%);
    }
  }
}


img {
  width: 530px;
}

.trans {
  transition: transform 1s ease-in;
}